<!-- Header -->
<header>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == '/payment/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'payment' %}">Payment
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == '/new-card/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'new_card' %}">New card
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == '/history/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'history' %}">History
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- END Navbar -->

</header>
<!-- END Header -->