{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-5 mb-3">History of payments</h1>
      </div>
      <div class="col-12">
        <table id="payments-table" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Payment #</th>
              <th>Card #</th>
              <th>Amount</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            {% for consumption in all_payments %}
              <tr>
                <td>{{ consumption.id }}</td>
                <td>{{ consumption.card_id.card_number }}</td>
                <td>{{ consumption.consumption|floatformat:2 }}
                  €</td>
                <td>{{ consumption.date_created }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Payment #</th>
              <th>Card #</th>
              <th>Amount</th>
              <th>Date created</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      $("#payments-table").DataTable();
    });
  </script>
{% endblock extrascripts %}