{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="mt-5">Payment tab</h3>
        <p>Process the payments.</p>
      </div>
      <div class="col-12">
        <h3>New Card tab</h3>
        <p>Create new Card and see the list of all Cards.</p>
      </div>
      <div class="col-12">
        <h3>History tab</h3>
        <p>See the list of all payments.</p>
      </div>
    </div>
  </div>
{% endblock content %}