{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-5">Create New Card</h1>
        <p>Enter the Card number and the value to be deposited on the Card.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <form method="post" action="">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
            <div class="form-group">{{ error }}</div>
          {% endfor %}

          <div class="form-group {% if form.card_number.errors %}has-error {% endif %}">
            {{ form.card_number.label_tag }}
            {{ form.card_number|add_class:"form-control" }}
            <span class="error-align">
              {% for error in form.card_number.errors %}
                {{ error }}
              {% endfor %}
            </span>
          </div>

          <div class="form-group {% if form.value.errors %}has-error {% endif %}">
            {{ form.value.label_tag }}
            {{ form.value|add_class:"form-control" }}
            <span class="error-align">
              {% for error in form.value.errors %}
                {{ error }}
              {% endfor %}
            </span>
          </div>

          <button type="submit" formnovalidate="formnovalidate" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">

      <div class="col-12">
        <h1 class="mt-5 mb-3">All Cards</h1>
      </div>

      <div class="col-12">
        <table id="cards-table" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Card #</th>
              <th>Available amount</th>
              <th>Value</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            {% for card in cards %}
              <tr>
                <td>{{ card.card_number }}</td>
                <td {% if card.available_amount == 0 %} class="text-danger" {% endif %}>
                  {{ card.available_amount|floatformat:2 }}
                  €
                </td>
                <td>{{ card.value|floatformat:2 }}
                  €
                </td>
                <td>{{ card.date_created }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Card #</th>
              <th>Available amount</th>
              <th>Value</th>
              <th>Date created</th>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      $("#cards-table").DataTable();
    });
  </script>
{% endblock extrascripts %}