{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-5">Payment</h1>
        <p>Enter the Card number and the amount to be spent.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <form method="post" action="">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
            <div class="form-group">{{ error }}</div>
          {% endfor %}

          <div class="form-group {% if form.card_number.errors %}has-error {% endif %}">
            {{ form.card_number.label_tag }}
            {{ form.card_number|add_class:"form-control" }}
            <span class="error-align">
              {% for error in form.card_number.errors %}
                {{ error }}
              {% endfor %}
            </span>
          </div>

          <div class="form-group {% if form.amount.errors %}has-error {% endif %}">
            {{ form.amount.label_tag }}
            {{ form.amount|add_class:"form-control" }}
            <span class="error-align">
              {% for error in form.amount.errors %}
                {{ error }}
              {% endfor %}
            </span>
          </div>

          <button type="submit" formnovalidate="formnovalidate" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}